.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s ease-in-out;
  line-height: 2px;
  
}



.modal-content {
  background-color: #D6EFD8;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  height: 400px;
  /* text-align: center; */
  /* position: relative; */
}

.inputs{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 95%;
}

input{
  width: 100%;
  height: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #1A5319;
  
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  
  
}

.close {
  display: block;
  float: right;
  font-size: 40px;
  cursor: pointer;
  color: #1A5319;
  margin-top: 20px;
  
}

.modal-header{
  color: #1A5319;
  font-family: 'Poppins', sans-serif;
  
}

.modal-header h2{
  font-size: 2rem;
}


.modal-body, .modal-footer {
  margin-top: 15px;
}

.domain-auth{
  gap: 10px;
}

.btn-Facebook, .btn-Google {
  width: 500px;
  height: 56px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  /* position: relative; */
  
}
.btn-login {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #FEFAE0;
  border : 2px solid #1A5319;
  color: #1A5319;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  /* position: relative; */
}

.btn-Facebook {
  background-color: #4267B2;
  width: 100%;
  height: 45px;
  font-size: 1rem;
  
}

.btn-Google {
  background-color: #DB4437;
  width: 100%;
  height: 45px;
  font-size: 1rem;
}



.domain-auth{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.or{
  text-align: center;
  
}

p{
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #1A5319;
}

.terms{
  font-size: 0.69rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #1A5319;
  margin-top: 10px;
}



@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


@media screen and (max-width: 500px) {
  .modal-content {
    width: 100%;
    
  }
}


/* Guest Register */





