<div class="sticky">
  <app-header></app-header>
</div>
<div class="greet">
  <img src="{{storeData.logoUrl}}" alt="logo" class="shop-logo" />
  <div class="shop-info">
    <h1>{{storeData.storeName}} – {{storeData.businessCity}}</h1>
    <p class="rating">⭐ {{overallRating}}/5 ({{storeData.ratings.length}})<a href="#" (click)="showReviewModal = true; $event.preventDefault()">See Reviews</a></p>
  </div>
</div>
<div class="main-container">
  <div class="offers-section">
    <div class="offers-header">
      <h2>🧁 LIMITED-TIME OFFERS</h2>
      <p>Don’t miss out on this items!</p>
    </div>
    <div class="products">
      <ng-container *ngFor="let item of items">
        <div class="product">
          <img src="{{item.imageUrl}}" alt="Product Image" />
          <h3>{{item.name}}</h3>
          <p>{{item.description}}</p>
          <p>₱{{item.finalPrice | number:'1.0'}}</p>
          <button (click)="addToCart(item)">+</button>
        </div>
      </ng-container>
      
    </div>
  </div>
  <div class="cart">
    <div class="cart-controls">
      <button class="btn-delivery">Delivery</button>
      <button class="btn-pickup">Pick-up</button>
    </div>
    <div class="cart-info">
      <div class="cart-empty" *ngIf="cartItems === undefined || cartItems.length === 0">
        <img src="img/empty-cart.svg" alt="Cart Icon" />
        <p>You haven’t added anything to your cart!</p>
      </div>
      <div class="cart-container">
        <!-- Add your cart items here -->
        <div class="cart-item" *ngFor="let item of cartItems">
          <img src="{{item.imageUrl}}" alt="Product Image" />
            <p>{{item.name}}</p>
            <p>₱{{item.finalPrice | number:'1.0'}}</p>
            <button (click)="removeFromCart(item)">-</button>
            <p>{{item.quantity}}</p>
            <button (click)="addToCart(item)">+</button>
        </div>
      </div>
      
    </div>
    <div class="cart-summary">
      <p>Total (incl. fees and tax)</p>
      <p class="total">₱{{totalPrice | number:'1.0'}}</p>
      <button>Review payment and Address</button>
    </div>
  </div>
</div>
