<app-header></app-header>
    <div class="scroll">
        <div class="parent-content">
            <h1>Store Profile</h1>
            <div class="content">
                <app-notification-modal [isOpen]="isModalOpen" [message]="notif" (closeModal)="closeModal()"></app-notification-modal>
                <table>
                    <tr>
                        <td>Business Name</td>
                        
                    </tr>
                    <tr>
                        <td><input class="flname" type="text" [(ngModel)]="businessName"></td>
                        
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Business Address</td>
                    </tr>
                    <tr>
                        <td><input type="text" [(ngModel)]="userLocation" readonly class="location-input" hidden><app-map-picker [defaultLocation]="userLocation" (locationSelected)="onLocationChosen($event)"></app-map-picker>
</td>
                    </tr>
                </table>
                <button class="btn-save" (click)="saveProfile()">Save</button>
                <br>
                <br>
            </div>

        </div>
        <div class="parent-content">
            <h1>Change Password</h1>
            <div class="content">
                <table>
                    <tr><td>Old Password</td></tr>
                    <tr><td><input class="password" type="password" [(ngModel)]="oldPassword"></td></tr>
                    <tr><td>New Password</td></tr>
                    <tr><td><input class="password" type="password" [(ngModel)]="newPassword"></td></tr>
                    <tr><td>Confirm Password</td></tr>
                    <tr><td><input class="password" type="password" [(ngModel)]="confirmPassword"></td></tr>
                </table>
                <button class="btn-save" (click)="changePassword()">Save</button>

                <br>
                <br>
            </div>
        </div>
        <div class="parent-content">
            <br>
            <h1>Delete Account</h1>
            <br>
            <button class="btn-delete" (click)="deleteAccount()">Delete</button>

            <br>
            <br>
        </div>
    </div>

