.sticky{
    position: sticky;
    z-index: 1000;
    top: 0;
}

.image-box {
  width: 150px;
  height: 150px;
  border: 3px solid #1A5319;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  color: #777;
  font-family: sans-serif;
}

.upload-text{
    color: transparent;
    width: 100%;
    height: 100%;
}
.upload-text:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(119, 119, 119, 0.5);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    transition: all 0.1s ease-in-out;
}



h1{
    color: #1A5319;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.store{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

fieldset{
    width: 25%;
    color: #1A5319;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #1A5319;
    border-radius: 10px;
    background-color: beige;
    
}

input{
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.btn-save{
    border-radius: 5px;
    border: 2px solid #1A5319;
    background-color: #1A5319;
    color: #FEFAE0;
    height: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;

}

hr{
    width: 50%;
    border: 1px solid #1A5319;
}




/* map */
.map-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: white;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.map-container {
  flex: 1;
  margin-bottom: 1rem;
  border-radius: 10px;
  width: 100%;
}

.map-picker{
    width: 100%;
    display: flex;
    justify-content: center;
}

.location-input{
    width: 50%;
}

.location-button{
    width: 25%;
    border-radius: 5px;
    border: 2px solid #1A5319;
    background-color: #1A5319;
    color: #FEFAE0;
    
    margin-left: 4px;
    cursor: pointer;
}

.mapConfirm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.map-pick{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
/* map */

@media (max-width: 880px) {
  fieldset {
    width: 80%;
  }

  hr{
    width: 100%;
  }

  .btn-save {
    width: 90%;
  }

  .modal-content{
    margin-top: 50px;
    height: 50%;
  }

  
}