    <div class="modal" *ngIf="isOpen" (click)="close()">
      
      <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="close()">&times;</span>
        <div class="modal-header">
            <div class="name">
                @if(toggleEditName == false){
                    <h2 (click)="toggleEdit()">{{itemName}}</h2>      
                }@else {
                    <input type="text" placeholder="{{itemName}}" class="edit-item-name">
                    <span><i class="save fa-solid fa-check" (click)="toggleEdit()"></i></span>
                }
            </div>
          
        </div>
        
        
        <div class="modal-body">
            @if(toggleEditDescription == false){
                <div class="item-description" (click)="toggleEditDesc()">
                    {{itemDescription}}
                </div>
            }@else {
                    <div style="height: 100px">
                        <div class="description">
                        <textarea class="edit-item-description" placeholder="{{itemDescription}}" [(ngModel)]="itemDescription" rows="4" cols="30" maxlength="50" (input)="enforceLineLimit($event)"></textarea>
                    
                        <span><i class="save fa-solid fa-check" (click)="toggleEditDesc()"></i></span>
                        </div>
                        <div style="font-size: 0.8rem;margin-top: 10px;">{{ 50 - (itemDescription.length || 0) }} characters remaining    
                        </div>
                    </div>
                
                
            }

            <div class="image-container" [ngStyle]="{'background-image': itemImageUrl ? 'url(' + itemImageUrl + ')' : ''}" (click)="onBoxClick()">
            <span class="upload-text" *ngIf="!itemImageUrl"><img class="old-image" src="img/logo.png"></span>
        </div>
        <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" hidden />

        <div class="stock">
            <table>
                <tr>
                    <th>Stock</th>
                    <th>Original Price</th>
                    <th>Discount</th>
                    <th>Final Price</th>
                </tr>
                <tr>
                    @if(toggleStock == false){
                        <td (click)="toggleStock = true">{{itemStock}}</td>    
                    }@else {
                        <td>
                            <div class="row-input">
                                <input type="number" placeholder="{{itemStock}}" [(ngModel)]="itemStock">
                                <span><i class="save fa-solid fa-check" (click)="toggleStock = false"></i></span>
                            </div>
                        </td>
                    }

                    @if(togglePrice == false){
                        <td (click)="togglePrice = true">&#8369;{{itemPrice}}</td>    
                    }@else {
                        <td>
                            <div class="row-input">
                                <input type="number" placeholder="{{itemPrice}}" [(ngModel)]="itemPrice">
                                <span><i class="save fa-solid fa-check" (click)="togglePrice = false"></i></span>
                            </div>
                        </td>
                    }
                    
                    @if(toggleDiscount == false){
                        <td (click)="toggleDiscount = true">{{itemDiscount}}%</td>    
                    }@else {
                        <td>
                            <div class="row-input">
                                
                                <input type="number" placeholder="{{itemDiscount}}" [(ngModel)]="itemDiscount">
                                <span><i class="save fa-solid fa-check" (click)="toggleDiscount = false"></i></span>
                            </div>
                        </td>
                    }
                    
                    
                        <td>&#8369;{{itemFinalPrice}}</td>    
                    
                    

                </tr>
            </table> 

            @if(toggleConfirmation == false){
                <div class="update">
                    <button (click)="toggleConfirmation = true">Delete Item</button>
                </div>    
            }
            
            
               
        </div>
        
            
        
        <div class="modal-footer">
            @if(toggleConfirmation == true){
                <div class="confirmDelete">
                    <span>Are you sure you want to delete this item?</span>
                    <div class="update">
                        <button (click)="toggleConfirmation = false">Yes</button>
                        <button (click)="toggleConfirmation = false">No</button>
                    </div>
                
                </div>
            }
          
        </div>
        
      </div>
    </div>