<app-header></app-header>
<div class="scroll">
  <div class="parent-content">
    <h1>Profile</h1>
    <div class="content">
      <label for="email">Email</label>
      <input id="email" class="flname" type="text" />
      <button class="btn-verify">Verify email</button>
      <button class="btn-save">Save</button>
    </div>
  </div>

  <div class="parent-content">
    <h1>Password</h1>
    <div class="content">
      <label for="current-password">Current Password</label>
      <input id="current-password" class="password" type="password" />

      <label for="new-password">New Password</label>
      <input id="new-password" class="password" type="password" />

      <label for="confirm-password">Confirm Password</label>
      <input id="confirm-password" class="password" type="password" />

      <button class="btn-save">Save</button>
    </div>
  </div>

  <div class="parent-content">
    <h1>Connected Account</h1>
    <div class="content">
      <button class="btn-social google">Connect Google</button>
      <button class="btn-social facebook">Connect Facebook</button>
    </div>

    <div class="del">
      <h2>Account Management</h2>
      <p>You can delete your account and personal data associated with your account</p>
      <button class="btn-del">Delete Account</button>
    </div>
  </div>
</div>
