<div class="modal" *ngIf="isOpen" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="close()">&times;</span>

    <!-- Header -->
    <div class="modal-header">
      <div class="name">
        <ng-container *ngIf="!toggleEditName; else editName">
          <h2 (click)="toggleEditName = true">{{ name || 'Item Name' }}</h2>
        </ng-container>
        <ng-template #editName>
          <input type="text" [(ngModel)]="name" class="edit-item-name" />
          <span><i class="save fa-solid fa-check" (click)="toggleEditName = false"></i></span>
        </ng-template>
      </div>
    </div>

    <!-- Body -->
    <div class="modal-body">
      <!-- Description -->
      <ng-container *ngIf="!toggleEditDescription; else editDesc">
        <div class="item-description" (click)="toggleEditDescription = true">
          {{ description || 'Click to add a description' }}
        </div>
      </ng-container>
      <ng-template #editDesc>
        <div style="height: 100px">
          <div class="description">
            <textarea
              class="edit-item-description"
              [(ngModel)]="description"
              rows="4"
              cols="30"
              maxlength="50"
              (input)="enforceLineLimit($event)"
            ></textarea>
            <span><i class="save fa-solid fa-check" (click)="toggleEditDescription = false"></i></span>
          </div>
          <div style="font-size: 0.8rem; margin-top: 10px">
            {{ 50 - (description.length || 0) }} characters remaining
          </div>
        </div>
      </ng-template>

      <!-- Image Upload -->
      <div
        class="image-container"
        [ngStyle]="{ 'background-image': imageUrl ? 'url(' + imageUrl + ')' : '' }"
        (click)="onBoxClick()"
      >
        <span class="upload-text" *ngIf="!imageUrl"><img class="old-image" src="img/logo.png" /></span>
      </div>
      <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" hidden />

      <!-- Stock / Price Table -->
      <div class="stock">
        <table>
          <tr>
            <th>Stock</th>
            <th>Original Price</th>
            <th>Discount</th>
            <th>Final Price</th>
          </tr>
          <tr>
            <!-- Stock -->
            <ng-container *ngIf="!toggleStock; else editStock">
              <td (click)="toggleStock = true">{{ stock }}</td>
            </ng-container>
            <ng-template #editStock>
              <td>
                <div class="row-input">
                  <input type="number" [(ngModel)]="stock" />
                  <span><i class="save fa-solid fa-check" (click)="toggleStock = false"></i></span>
                </div>
              </td>
            </ng-template>

            <!-- Price -->
            <ng-container *ngIf="!togglePrice; else editPrice">
              <td (click)="togglePrice = true">&#8369;{{ price }}</td>
            </ng-container>
            <ng-template #editPrice>
              <td>
                <div class="row-input">
                  <input type="number" [(ngModel)]="price" />
                  <span><i class="save fa-solid fa-check" (click)="togglePrice = false"></i></span>
                </div>
              </td>
            </ng-template>

            <!-- Discount -->
            <ng-container *ngIf="!toggleDiscount; else editDiscount">
              <td (click)="toggleDiscount = true">{{ discount }}%</td>
            </ng-container>
            <ng-template #editDiscount>
              <td>
                <div class="row-input">
                  <input type="number" [(ngModel)]="discount" />
                  <span><i class="save fa-solid fa-check" (click)="toggleDiscount = false"></i></span>
                </div>
              </td>
            </ng-template>

            <!-- Final Price -->
            <td>&#8369;{{ finalPrice }}</td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Footer -->
    <div class="modal-footer">
      <div class="update">
        <button (click)="save()">Save Item</button>
      </div>
    </div>
  </div>
</div>
