.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s ease-in-out;
  line-height: 2px;
  
}



.modal-content {
  background-color: #D6EFD8;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  height: 200px;
  /* text-align: center; */
  /* position: relative; */
}





.close {
  display: block;
  float: right;
  font-size: 40px;
  cursor: pointer;
  color: #1A5319;
  margin-top: 20px;
  
}

.modal-header{
  color: #1A5319;
  font-family: 'Poppins', sans-serif;
  
}

.modal-header h2{
  font-size: 2rem;
}


.modal-body, .modal-footer {
  margin-top: 15px;
}

.msg-body{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #1A5319;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}




@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}



@media screen and (max-width: 500px) {
  .modal-content {
    width: 100%;
  }

  
}


/* Guest Register */





