<div class="sticky">
    <app-header></app-header>
</div>

<div class="frame">
    <iframe id="JotFormIFrame-01971797d80674dd83ab91e5f88a414fd719" title="Alex: Customer Support Agent"
        onload="window.parent.scrollTo(0,0)" allowtransparency="true"
        allow="geolocation; microphone; camera; fullscreen"
        src="https://agent.jotform.com/01971797d80674dd83ab91e5f88a414fd719?embedMode=iframe&background=1&shadow=1"
        frameborder="0" style="
            min-width:100%;
            max-width:100%;
            height:688px;
            border:none;
            width:100%;
        " scrolling="no">
        </iframe>
        <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
        <script>
        window.jotformEmbedHandler("iframe[id='JotFormIFrame-01971797d80674dd83ab91e5f88a414fd719']",
            "https://www.jotform.com")
    </script>
</div>
