@if(whatAmI == 'guest'){

    <div class="header">
        <div class="logo-title">
            <img src="img/logo.png" alt="logo" class="logo">
            <span>SaveMunch</span>
        </div>
        @if(dropdownOpen == false){
            <i class="hamburger-icon fa-sharp fa-solid fa-bars" (click)="toggleDropdown()"></i>
        }
        @else{
            <i class="hamburger-icon fa-sharp fa-solid fa-xmark" (click)="toggleDropdown()"></i>
        }
        
        
        <div class="header-right-links" id="header-right-links" >
            <a (click)="login('guest')">Login</a>
            <a (click)="signup('guestRegister')">Sign Up</a>
            <a href="">Chat Support</a>
            <a href="">Sign Up for Business</a>
        </div>

        <app-modal [isOpen]="isModalOpen" (closeModal)="closeModal()"></app-modal>
        
    </div>


}


@if(whatAmI == 'store'){

    <div class="header">
        <div class="logo-title">
            <img src="img/logo.png" alt="logo" class="logo">
            <span>SaveMunch</span>
        </div>
        <i class="hamburger-icon fa-sharp fa-solid fa-bars" (click)="toggleDropdown()"></i>
        <div class="header-right-links" id="header-right-links">
            <a routerLink="/dashboard">Dashboard</a>
            <a routerLink="/business/order">Orders</a>
            <a routerLink="/business/menu">Menu Management</a>
            <a href="">Reviews</a>
            <a href="">Inbox</a>
            <a href="">Chat Support</a>
            <a href="" style="background-color: red;" (click)="logout()">Logout</a>
        </div>
        
    </div>





    
}

@if(whatAmI == 'user'){
    <div class="header">
        <div class="logo-title">
            <img src="img/logo.png" alt="logo" class="logo">
            <span>SaveMunch</span>
        </div>
        <i class="hamburger-icon fa-sharp fa-solid fa-bars" (click)="toggleDropdown()"></i>
        <div class="header-right-links" id="header-right-links">
            <a href="">Delivery</a>
            <a href="">Pickup</a>
            <a href="">Shops</a>
            <a href="">Inbox</a>
            <a href="">Chat Support</a>
            <a style="background-color: red;" (click)="logout()">Logout</a>
        </div>
        
    </div>
}


